.mask {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  overflow: hidden;
}

.wraps {
  width: 100%;
  background-color: #fff;
}

.res-title {
  display: flex;
  font-size: 0.3rem;
  width: 100%;
  justify-content: center;
  height: 0.76rem;
  line-height: 0.76rem;
  position: relative;
  border-bottom: 0.01rem solid #EEF0F2;
  color: #C8A258;
  margin-bottom: 0.11rem;
}

.res-title img {
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.26rem 0.36rem;
}

.list {
  font-size: 0.3rem;
  display: flex;
  justify-content: space-between;
  line-height: 0.75rem;
  margin: 0 0.26rem;
  color: #000;
  font-weight: 600;
  font-family: PingFangSC-Regular;
  padding-top: 0.14rem;
}

.mandatory {
  margin-left: 0.11rem;
  color: #C8A258;
}

.list-left {
  min-width: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.list-upload {
  font-size: 0.3rem;
  display: flex;
  margin: 0 0.26rem;
  line-height: 1.2rem;
  color: #000;
}

.list input {
  width: 4.17rem;
  height: 0.35rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.08rem;
  border: 0.01rem solid #d3d5d6;
  color: #b7b7b7;
}
