.mask {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  overflow: hidden;
}

.wraps {
  width: 100%;
  background-color: #fff;
}

.p_bottom{
  position: absolute;
  bottom: 0;
}

.res-title {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 0.98rem;
  position: relative;

  font-size: 0.36rem;
  letter-spacing: 0.04rem;
  color: #000000;
}
.res-title h2{
  font-weight: bold;
}
.res-title .icon-guanbi {
  font-size: 0.34rem;
  font-weight: bold;
  width: 0.59rem;
  height: 0.59rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  padding-left: 0.12rem;
  padding-top: 0.02rem;
  line-height: 0.59rem;
  background-color: #f4ba43;
  position: absolute;
  right: 0.27rem;
  top: -0.7rem;
}
.res-title img {
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.26rem 0.36rem;
}

.list {
  font-size: 0.28rem;
  display: flex;
  justify-content: space-between;
  line-height: 0.56rem;
  align-items: center;
  margin: 0 0.26rem;
  color: #000;
  margin-bottom: 0.34rem;
}

.mandatory {
  line-height: 0.56rem;
  color: #F5C665;
}

.list-left {
  min-width: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}
.list-left-text {
  letter-spacing: 0.1rem;
}
.list-left-text1 {
  letter-spacing: 0.23rem;
}

.list-upload {
  font-size: 0.28rem;
  line-height: 1;
  display: flex;
  margin: 0.55rem 0.26rem 0.25rem;
  align-items: center;
  color: #000;
}

.list input {
  border-radius: 0;
  width: 5rem;
  height: 0.35rem;
  box-sizing: border-box;
  border-bottom: 0.01rem solid #959595;
  color: #000;
  margin-bottom: 0.05rem;
}
