.mask {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /*background-color: #fff;*/
  overflow: hidden;
}

.mask_reserve {
  background-color: #B8231E;
}

.wraps {
  width: 100%;
  background-color: #fff;
}

.res-title {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 0.98rem;
  position: relative;

  font-size: 0.36rem;
  letter-spacing: 0.04rem;
  color: #000000;
}
.res-title h2{
  font-weight: bold;
}
.res-title .icon-guanbi {
  font-size: 0.34rem;
  font-weight: bold;
  width: 0.59rem;
  height: 0.59rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  padding-left: 0.12rem;
  padding-top: 0.02rem;
  line-height: 0.59rem;
  background-color: #e20212;/*#eed582*/
  color: #fff;/*活动后去掉*/
  position: absolute;
  right: 0.27rem;
  top: -0.7rem;
}
.res-title img {
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.26rem 0.36rem;
}

.list {
  font-size: 0.32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .94rem;
  font-weight: 600;
  color: #333;
}

.mask-margin {
  margin: 0 0.3rem;
}

.mandatory {
  color: #EA2C43;
  margin-right: .15rem;
}

.list-left {
  min-width: 1.55rem;
  display: flex;
  align-items: center;
  line-height: 1;
}
.list-left-text {
  letter-spacing: 0.1rem;
}
.list-left-text1 {
  letter-spacing: 0.23rem;
}

.list-upload {
  font-size: 0.32rem;
  line-height: 1;
  display: flex;
  margin: 0.5rem 0.26rem 0.25rem;
  align-items: flex-end;
  font-weight: 600;
  color: #333;
}

.list input {
  width: 4.8rem;
  height: 100%;
  line-height: .94rem;
  box-sizing: border-box;
  color: #333;
  border-radius: .2rem;
}
input::-webkit-input-placeholder {
  color: #999 ; /*WebKit browsers*/
}
input::-moz-placeholder {
  color: #999 ; /*Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
  color: #999 ; /*Mozilla Firefox 19+ */
}
input::-ms-input-placeholder {
  color: #999 ; /*Internet Explorer 10+*/
}
