.el-message {
  min-width: 180px;
  top: 50%;
}
.el-message--warning{
  background-color: rgba(0,0,0, 0.8);
}
.el-message--warning .el-message__content {
  color: #fff;
}
.el-message--warning .el-message__icon {
  display: none;
}
